node_modules/
dist/
output/**
test-output
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/src/lib/filters.ts.html
coverage/lcov-report/src/lib/formatters.ts.html
coverage/lcov-report/src/lib/fs-utils.ts.html
coverage/lcov-report/src/lib/index.html
coverage/lcov-report/src/lib/parser.ts.html
coverage/lcov-report/tests/index.html
coverage/lcov-report/tests/setup.ts.html
